* {
  margin: 0;
  padding: 0;
  font-family: Major Mono Display;
}

.enlaces:visited {
  color: #684e4e;
}

* {
  font-family: Major Mono Display;
  padding: 0;
  margin: 9;
}

* {
  font-family: Major Mono Display;
  padding: 0;
  margin: 9;
}

.grid-datos {
  display: grid;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  margin: 20px;
  transform: translate(0px, 10px);
  background-image: linear-gradient(to top, #684e4e, white);
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}

.text1 {
  grid-area: 1/1/2/2;
  margin: 40px;
}

.text2 {
  grid-area: 1/2/2/3;
  margin: 40px;
}

.text3 {
  grid-area: 1/3/2/4;
  margin: 40px;
}

.contenedor-prod {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;
  gap: 20px;
}

.producto {
  border: 4px solid #684e4e;
  padding: 20px;
  text-align: center;
}

header .container-fluid {
  text-align: right;
  text-decoration: none;
  background-color: #ffffff;
  padding: 25px;
}
header .navbar-brand {
  font-size: 35px;
  color: #684e4e;
  font-family: Major Mono Display;
}
header .navbar-nav {
  text-align: right;
}
header .nav-link {
  color: #000000;
  font-family: Montserrat;
}

.fotologo {
  display: flex;
  justify-content: center;
}

ul {
  list-style: none;
}
ul li {
  margin-right: 40px;
  display: inline-block;
}
ul li a {
  text-decoration: none;
  font-size: 16px;
}

@keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
h1 {
  font-family: Major Mono Display;
  font-size: 30px;
  text-align: center;
}

h2 {
  font-family: Major Mono Display;
  animation-duration: 2s;
  animation-name: aparecer;
  animation-iteration-count: infinite;
  text-align: center;
}

@keyframes un_efecto {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  70% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}
.productos:hover {
  animation-name: un_efecto;
  animation-timing-function: ease-in;
  animation-duration: 3s;
}

.productos {
  font-display: grid;
  justify-content: space-evenly;
}

p {
  font-family: Montserrat;
}

h3 {
  font-family: Montserrat;
  color: #684e4e;
}

h5 {
  font-family: Major Mono Display;
  font-size: 30px;
}

form {
  margin: 0 auto;
  width: 300px;
  padding: 1em;
  border: 3px solid #684e4e;
  border-radius: 3em;
  background-color: white;
  box-sizing: border-box;
}
form .titulo-form {
  font-family: Montserrat;
}

.textoinfo {
  text-align: justify;
  color: #000000;
  margin: 100px;
  border: 2px solid #684e4e;
  border-radius: 10px;
}
.textoinfo ul li {
  list-style: circle;
}

.nosotros-info {
  text-align: justify;
  color: #000000;
  margin: 100px;
  border: 2px solid #684e4e;
  border-radius: 10px;
}

.img {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.masvendido {
  padding: 20px;
}
.masvendido.card-group {
  margin: 15px;
}
.masvendido.card-group.card {
  text-align: center;
}
.masvendido.card-group.card.card-body.card-text {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.card-body.card-text {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.producto {
  flex: 0 1 calc(33.333% - 20px);
  border: 1px solid #ccc;
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
}

.producto h3 {
  font-size: 1.2em;
  margin: 20px;
}

.contenedor {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 20px;
}

.datoscontact {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 40px;
}
.datoscontact .contacto__title {
  text-align: center;
  margin: 25px;
}
.datoscontact .contacto__title__contact ul {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 30px;
}
.datoscontact .contacto__title__contact a {
  font-family: Montserrat;
  color: #000000;
}

.bienvenidatienda {
  margin: 150px;
  display: flex;
  flex-direction: row;
}

.texto-contacto {
  justify-content: center;
}
.texto-contacto p {
  margin-top: 30px;
  margin-left: 150px;
  margin-right: 150px;
  text-align: center;
  border: 2px solid #684e4e;
  border-radius: 10px;
}

.nosotros-img {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.nosotros-img .image-container {
  margin-top: 20px;
  margin: 30px;
}
.nosotros-img .image-container img {
  border: 2px solid #684e4e;
}

footer {
  background-color: #684e4e;
  margin-top: 10px;
  padding: 10px;
}
footer .contenedor {
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-width: 100%;
  box-sizing: border-box;
}
footer .contenedor__logo {
  align-items: center;
  justify-content: center;
  margin-left: -5px;
  color: #ffffff;
}
footer .contenedor__sitios__ubi {
  list-style-type: none;
  display: flex;
  flex-direction: row;
}
footer .contenedor__sitios__ubi__a {
  font-family: Montserrat;
  color: #ffffff;
}
footer .contenedor__redes__ubi {
  list-style-type: none;
  display: flex;
  flex-direction: row;
}
footer .contenedor__redes__ubi__a {
  font-family: Montserrat;
  color: #ffffff;
}

@media only screen and (max-width: 500px) {
  body {
    margin: 0;
    overflow-x: hidden;
  }
  .grid-datos {
    display: flex;
    flex-direction: column;
  }
  .contenedor-prod {
    display: flex;
    flex-direction: column;
    margin: 40px;
  }
  .contenedor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 5px;
    padding: 5px;
  }
  .footer .contenedor {
    display: flex;
    flex-direction: column;
  }
  .datoscontact {
    display: flex;
    flex-direction: column;
  }
  .nosotros-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  .nosotros-img .image-container {
    margin: 20px;
  }
  .bienvenidatienda {
    display: flex;
    flex-direction: column;
  }
  .textoinfo {
    margin: 50px;
  }
}
@media only screen and (min-width: 501px) and (max-width: 960px) {
  body {
    margin: 0;
    overflow-x: hidden;
  }
  .grid-datos {
    display: flex;
    flex-direction: column;
  }
  .contenedor-prod {
    display: flex;
    flex-direction: column;
    margin: 40px;
  }
  .contenedor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 5px;
    padding: 5px;
  }
  .footer .contenedor {
    display: flex;
    flex-direction: column;
  }
  .textoinfo {
    margin: 50px;
  }
  .nosotros-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  .nosotros-img .image-container {
    margin: 20px;
  }
}
@media only screen and (min-width: 961px) {
  .body {
    margin: 0;
    overflow-x: hidden;
  }
  .textinfo-envios li {
    color: #ad3d3d;
  }
}

/*# sourceMappingURL=main.css.map */
