.fotologo {
    display: flex;
    justify-content: center;
}

ul {
    list-style: none;

    li {
        margin-right: $margin-right-ul-li;
        display: inline-block;
    
        a {
            text-decoration: none;
            font-size: $font-size-a;
        }

    }
}

@keyframes aparecer {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

h1 {
    font-family: $titulo-principal;
    font-size: $size-titulo-principal;
    text-align: center;
}

h2 {
    font-family: $titulo-secundario;
    animation-duration: 2s;
    animation-name: aparecer;
    animation-iteration-count: infinite;
    text-align: center;
}

@keyframes un_efecto {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.5;
    }
    70% {
        opacity: 0.7;
    }
    100% {
        opacity: 1;
    }
}

.productos:hover {
    animation-name: un_efecto;
    animation-timing-function: ease-in;
    animation-duration: 3s;
}
.productos {
    font-display: grid;
    justify-content: space-evenly;
}

p {
    font-family: $p-font;
}

h3 {
    font-family: $titulo-tercero;
    color: $titulo-terciario-color;
}

form {
    margin: 0 auto;
    width: $form-width;
    padding: $form-padding;
    border: 3px solid #684e4e;
    border-radius: $form-border-radius;
    background-color: white;
    box-sizing: border-box;

    .titulo-form {
        font-family: $titulo-form;
    }
}

.textoinfo {
    text-align: justify;
    color: $text-info-color;
    margin: $textoinfo-margin;
    border: 2px solid #684e4e;
    border-radius: $textoinfo-border-radius;
}

.textinfo-envios ul {
    list-style: circle;
}

.nosotros-info {
    text-align: justify;
    color: $nosotros-info-color;
    margin: $nosotros-info-margin;
    border: 2px solid #684e4e;
    border-radius: $nosotros-info-border-radius;
}

.img {
    display: flex;
    justify-content: center;
    width: $img-size;
    height: $img-size;
}

.masvendido {
    padding: $masvendido-padding;

    &.card-group {
        margin: $masvendido-margin;

        &.card {
            text-align: center;
        }
    }

}

.card-body {
                
    &.card-title {
        font-family: $card-title;
    }

    &.card-text{
        font-family: $card-text;
    }
}

.producto {
    flex: 0 1 calc(33.333% - 20px); 
    border: 1px solid #ccc;
    padding: $producto-padding;
    box-sizing: border-box;
    text-align: center;
}

.producto h3 {
    font-size: $producto-h3-size;
    margin: $producto-h3-margin;
}

.contenedor {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: $contenedor-padding;
}

.contacto {
    display: flex;
    flex-direction: column;
    justify-content: center;

    &__title{
       text-align: center;

        &__contact ul{
            text-align: center;
            margin-top: $contacto-ul-margin-top;
            margin-bottom: $contacto-ul-margin-butttom;
        }

        &__contact a{ 
            font-family: $contact-a;
            color: $contact-a-color;
        }
    }


}