.grid-datos {
    display: grid;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    text-align: center;
    text-decoration: none;
    font-size: $grid-datos-font-size;  
    margin: $grid-datos-margin;
    transform: translate(0px, 10px);
    background-image: linear-gradient(to top, #684e4e, white);
    
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: $grid-container-gap;
}

.text1 { 
    grid-area: 1 / 1 / 2 / 2; 
    margin: $grid-container-text-margin;
}

.text2 { 
    grid-area: 1 / 2 / 2 / 3; 
    margin: $grid-container-text-margin;
}

.text3 { 
    grid-area: 1 / 3 / 2 / 4; 
    margin: $grid-container-text-margin;
}

.contenedor-prod {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto; 
    gap: $contenedor-prod-gap;
}

.producto {
    border: 4px solid #684e4e;
    padding: $producto-padding;
    text-align: center;
}

