//titulos
$titulo-principal: "Bebas Neue", sans-serif; 
$contenedor-redes-text: Verdana, Geneva, Tahoma, sans-serif;
$contenedor-redes-title: "Bebas Neue", sans-serif;
$titulo-tercero: Georgia, 'Times New Roman', Times, serif;
$contacto-title: "Bebas Neue", sans-serif;

//tamaños
$size-titulo-principal: 30px; 

//colores
$mediaq-color1: #6fcbe2;
$mediaq-color2: #d1a8f8;
$mediaq-color3: #ffe0d7;
$footer-color: #6b6b6b;
$grid-datos-color: #e7cece;
$redesycontacto-color: #e7cece;
$form-color: #e7cece;
$textinfo-color: #e26f6f;
$enlace-color: #ffacac;