//titulos
$titulo-principal: Major Mono Display; 
$titulo-secundario: Major Mono Display;
$titulo-tercero: Montserrat;
$titulo-quinto: Major Mono Display; 
$titulo-form: Montserrat;
$card-text: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
$contact-a: Montserrat;
$footer-a: Montserrat;
$navbar-brand-font: Major Mono Display;
$nav-link-font: Montserrat;
$p-font: Montserrat; 


//tamaños
$size-titulo-principal: 30px; 
$margin-right-ul-li: 40px;
$font-size-a: 16px;
$form-width: 300px;
$form-padding: 1em;
$form-border-radius: 3em;
$textoinfo-margin: 100px;
$textoinfo-border-radius: 10px;
$nosotros-info-margin: 100px;
$nosotros-info-border-radius: 10px;
$img-size: 100%;
$productos-padding: 20px;
$masvendido-padding: 20px;
$masvendido-margin: 15px;
$producto-padding: 20px;
$producto-h3-size: 1.2em;
$producto-h3-margin: 20px;
$contenedor-padding: 20px;
$contenedor-margin: 20px;
$contacto-ul-margin-top: 20px;
$contacto-ul-margin-butttom: 30px;
$footer-margin-top: 10px;
$footer-padding: 10px;
$logo-margin-left: -5px;
$mediaq-contenedor-prod: 40px;
$grid-datos-font-size: 20px;
$grid-datos-margin: 20px;
$grid-container-gap: 10px;
$grid-container-text-margin: 40px;
$contenedor-prod-gap: 20px;
$producto-padding: 20px;
$container-fluid-padding: 25px; 
$navbar-brand-size: 35px; 
$titulo-quinto-size: 30px;
$titulo-bienvenidatienda-margin: 150px;
$datoscontact-margin: 40px;
$datoscontact-title-margin: 25px;
$margin-top-texto-contacto: 30px;
$margin-left-right-texto-contacto: 150px;
$nosotros-img-margin-top: 20px;
$nosotros-img-margin: 30px;
$contenedor-margin-padding: 5px; 
$contenedor-padding-margin-mediaq: 5px;
$image-container-margin: 20px;
$bienvenidatienda-margin-mediaq: 100px;
$textoinfo-margin-mediaq: 50px;
$mediaq-h1-size: 15px;
$mediaq-h2-size: 15px;
$mediaq-ul-li-ol-size: 10px;
$mediaq-h5-size: 15px;
$mediaq-navbar-size: 15px;
$mediaq-img-size: 100px; 
$mediaq-nosotrosinfo-margin: 30px;
$mediaq-img-size-container: 200px;
$mediaq-main-p-size: 20px;
$mediaq-contacto-size: 15px;
$mediaq-contacto-font-size:10px; 
$mediaq-p-size: 20px;
$mediaq-form-label: 10px;
$mediaq-form-input: 150px;
$mediaq-form-input-padding: 4px;
$mediaq-textarea-size: 150px;
$mediaq-textarea-padding: 4px;
$mediaq-nosotros-info-margin: 10px;


//colores
$titulo-terciario-color: #684e4e;
$form-background-color: #ffffff;
$text-info-color: #000000;
$nosotros-info-color: #000000;
$productos-background-color: #ccc;
$contact-a-color: #000000;
$footer-background-color: #684e4e;
$logo-color: #ffffff;
$footer-a-color: #ffffff;
$enlace-color: #684e4e;
$textinfo-envios-li-color: #ad3d3d;
$container-fluid-background-color: #ffffff;
$navbar-brand-color: #684e4e;
$nav-link-color: #000000;